{% load static %}
{% include 'head.html' %}
{% include 'navbar.html' %}
<section id="form" class="container">
    <center>
        <h2 class="mt-5 fw-bolder">Update Barang</h2>

        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% if message %}

        {% endif %}


        {% endfor %}

    </center>

    <form action="{% url 'update_brg' barangs.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'barang' %}" class="btn btn-warning">Back</a>
    </form>
</section>