* {
    margin: 0;
    padding: 0;
}

.header-text h1 {
    font-size: 110px;
    font-weight: 800;
}

.header-text p {
    color: #B2B2B2;
}

.header-text span {
    color: #E7BC82;
}

.header-suport h1 {
    font-size: 80px;
    font-weight: 800;
    color: #2C3639;
}

.header-suport p {
    color: #B2B2B2;
}

.content h1 {
    margin-top: 10%;
    font-size: 60px;
    font-weight: 700;
    color: #2C3639;
}